@import "mainStyle.css";

#feynman-pg-container{
    display: block;
    width: 90%;
    background-image: url(/imgs/background.png);
    background-repeat: repeat;
}

.dialog-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    height: 350px;
}

.dialog-container .feynman-portrait{
    margin: 0;
    height: 100%;
    width: 35%;
    justify-items: center;
    align-items: center;

}

.dialog-container .feynman-portrait img{
   width: 80%;
   height: 80%;
   object-fit: cover;
   margin: 20px;
   border: 2px solid black;
   background-color: white;
}
.dialog-container .feynman-portrait p{
    margin: 0;
}

.dialog-container .text-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: wrap;
    height: 90%;
    width: 60%;
    border: 4px solid rgb(41, 10, 10);
    background-color: rgb(0, 37, 0);
    color: white;
    
}

.scroll-button{
    display: flex;
    width: 100px;
    height: 100%;
    background: none;
    border: none;
}

.scroll-button:hover{
    cursor: pointer;
}

.scroll-button img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dialog-boxes{
    display: inline-block;
    width: 80%;
    height: 80%;
    text-align: center;
    overflow-wrap: anywhere;
}

.style-span{
    color: rgb(129, 0, 161);
    display: inline;
    line-height: inherit;
}

.mission-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.mission-box #mission-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90%, 100%));
    height: 90%;
    width: 90%;
    border: 3px solid black;
}


#mission-container .mission-options{
    background: transparent;
    padding: 0;
    text-align: center;
    transition: 0.2s;
}

#mission-container .no:hover{
    background-color: rgb(139, 0, 0);
}

#mission-container .yes:hover{
    background-color: rgb(0, 92, 0);
}

#mission-container5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#basicForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#basicForm label{
    font-size: 2em;
    padding: 20px;
}

#basicForm input{
    width: 100%;
    height: auto;
    border: 2px solid black;
    font-size: 2em;
}

#basicForm button{
    margin-top: 20px;
    font-size: large;
    background-color: transparent;
    transition: 0.2s;
    border: 1px solid black;
    padding: 10px;
}

#basicForm button:hover{
    background-color: rgb(54, 1, 104);
}

#flex-column-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 90%;
    flex-wrap: wrap;
    border: 3px solid black;

}

.grid-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
}

.grid-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#flex-row-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 90%;
    width: 90%;
    flex-wrap: nowrap;
    border: 3px solid black;
}

#flex-row-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 20%;
}

#flex-row-container .gate-img{
    border: 2px solid black;
    width: 10%;
}

#flex-row-container div:hover{
    cursor: pointer;
}

#flex-row-container .gate-img:hover{
    cursor: default;
}

#flex-row-container p{
    text-align: center;
    border: none;
}

#flex-row-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#flex-row-container button{
    width: 15%;
    height: 20%;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

#flex-row-container button img, .gate-img img{
    object-fit: cover;
}

#flex-row-container #entry:hover{
    cursor: pointer;
}

#flex-row-container #entries{
   width: 15%; 
   height: 40%;
}

#flex-row-container #entries button{
    height: 50%;
    width: 100%;
}

#grid-mission-box{
    width: 90%;
    height: 90%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 15% 15% 15% 15%;
    gap: 10px;
    border: 2px solid black
}

#grid-mission-box p{
    grid-column: span 4;
    margin: 0;
    text-align: center;

}

#grid-mission-box #result{
    font-size: 2em;
}

#grid-mission-box div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-mission-box div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#grid-mission-box button{
    grid-column: span 4;
    height: 100%;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid black;
    padding: 0;
    transition: 0.2s;
    font-size: 2em;
}

#grid-mission-box button:hover{
    background-color: rgb(54, 1, 104);
}