@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    height: 100vh;
}

.flex-container{
    display: block;
    height: 100%;
}

.top-background-img{
    background-image: url(/imgs/Capa.png);
    background-size: cover;
    height: 200px;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url(/imgs/Capa2.png);
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    height: auto;
    overflow: auto;

}

.section-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    border: 3px solid black;
}

.img-buttons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.section-container p{
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
}

.img-buttons a{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 200px;
    transition: 1s;
}

#img-ec:hover{
    background-color: rgb(0, 119, 255);
}

#img-laciq:hover{
    background-color: rgb(199, 1, 1);
}

.text-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);

}

.text-container h1{
    text-align: center;
}

.text-container p{
    margin: 20px;
    text-align: justify;
}

.text-container a{
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    padding: 50px;

}